:root {
  --border-color: #212121;
  --bg-color: #e3e3e3;
  --hourhand-color: #212121;
  --minutehand-color: #212121;
  --secondhand-color: #bb2121;
  --logo-icon-color: #e2001a;
  --shadow-color: rgba(0, 0, 0, 0.4);
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  width: 80vmin;
  height: 80vmin;
  background-color: var(--bg-color);
  border: 3vmin solid var(--border-color);
  border-radius: 50%;
  position: relative;
  transform: rotate(-90deg);
  box-shadow: -10px -10px 10px var(--shadow-color);
  z-index: 10;
}

.clock:before {
  content: "";
  width: 95%;
  height: 95%;
  border-radius: 50%;
  display: block;
  border: 2vmin solid var(--bg-color);
}

.clock:after {
  content: "";
  width: 105%;
  height: 105%;
  border-radius: 50%;
  display: block;
  background: transparent;
  position: absolute;
  top: -2.5%;
  left: -2.5%;
}

.logo {
  position: absolute;
  top: 38vmin;
  right: 15vmin;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 5vmin;
  transform: rotate(90deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.copy {
  font-size: 2.5vmin;
  position: relative;
  top: -8px;
  right: 0;
}

.logo-icon {
  margin-left: 0.1em;
  padding: 0;
  font-size: 1em;
  font-weight: 900;
  text-align: center;
  color: var(--logo-icon-color);
}

.hourhand,
.secondhand,
.minutehand {
  width: 25vmin;
  height: 2vmin;
  position: absolute;
  top: 40vmin;
  left: calc(50% - 3.5vmin);
  transform: rotate(-90deg);
  transform-origin: 16%;
}

.hourhand:after,
.secondhand:after,
.minutehand:after {
  content: "";
  background: var(--border-color);
  width: 5vmin;
  height: 5vmin;
  border-radius: 50%;
  position: absolute;
  top: -1.5vmin;
  left: 1.5vmin;
  z-index: 20;
}

.hourhand {
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%;
  background: var(--hourhand-color);
  box-shadow: -10px 10px 10px var(--shadow-color);
  z-index: 30;
}

.minutehand {
  width: 40vmin;
  height: 1vmin;
  top: 40.5vmin;
  transform: rotate(-90deg);
  transform-origin: 10%;
  border-top-right-radius: 30%;
  border-bottom-right-radius: 30%;
  background: var(--minutehand-color);
  box-shadow: -10px 10px 10px var(--shadow-color);
  z-index: 40;
}

.minutehand:before {
  content: "";
  width: 4.5vmin;
  height: 4.5vmin;
  border-radius: 50%;
  z-index: 100;
  position: absolute;
  top: -1.7vmin;
  left: 1.7vmin;
  box-shadow: -2px -2px 7px var(--shadow-color);
}

.minutehand:after {
  top: -2vmin;
}

.secondhand {
  width: 35vmin;
  height: 0.5vmin;
  top: 40.75vmin;
  transform: rotate(160deg);
  transform-origin: 11.5%;
  background: var(--secondhand-color);
  box-shadow: -10px -10px 10px var(--shadow-color);
  z-index: 50;
}
.secondhand:after {
  top: -2.25vmin;
}

.bar1,
.bar2,
.bar3,
.bar4 {
  height: 1vmin;
  width: 55vmin;
  background: transparent;
  border-left: 7vmin solid var(--border-color);
  border-right: 7vmin solid var(--border-color);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
}

.bar1 {
  transform: rotate(120deg) translate(17vmin, 30vmin);
}

.bar2 {
  transform: rotate(150deg) translate(29vmin, 18vmin);
}

.bar3 {
  transform: rotate(210deg) translate(30vmin, -17vmin);
}

.bar4 {
  transform: rotate(240deg) translate(17vmin, -30vmin);
}

.number {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 6vmin;
  font-weight: 900;
  transform: rotate(90deg);
}

.n12 {
  position: absolute;
  top: 36.5vmin;
  right: 6vmin;
}

.n3 {
  position: absolute;
  bottom: 6vmin;
  left: 39.2vmin;
}

.n6 {
  position: absolute;
  top: 36.8vmin;
  left: 8vmin;
}

.n9 {
  position: absolute;
  top: 6vmin;
  left: 39.2vmin;
}
